body,  html{
  height: 100%;
  margin: 0;
}

/* Home Container Styling */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(83vh - 100px); /* Full screen height minus navbar */
  text-align: center;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.home-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home-link {
  color: #007bff;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}

.content-wrapper {
  flex: 1;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures it takes the full height of the viewport */
}

/* Google Login Button Styling */
.google-login-btn {
  background-color: #4285F4; /* Google Blue */
  color: white;
  font-size: 1rem;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.google-login-btn:hover {
  background-color: #357ae8; /* Darker Blue on hover */
}

.google-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.google-login-btn:focus {
  outline: none;
}