html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #2c76b3;
  color: #fff;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 60px; /* Image height */
  width: auto;
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links {
  display: flex;
  gap: 15px;
}

.navbar .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.navbar .nav-link:hover {
  background-color: #fff;
  color: #2c76b3;
  border-color: #fff;
}

.navbar .logout-button {
  background-color: #e76161; /* A contrasting red color for logout */
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar .logout-button:hover {
  background-color: #ff1a1a; /* Slightly darker red on hover */
}

